openapi: 3.2.0
info:
  title: Bee Maps Data Account API
  description: REST APIs for street-level imagery, AI event videos, road feature detections, and on-demand mapping from the world's largest decentralized dashcam network.
  version: 1.0.0
  contact:
    name: Bee Maps
    url: https://beemaps.com/contact
  license:
    name: Proprietary
servers:
- url: https://beemaps.com/api/developer
  description: Production
security:
- ApiKeyQuery: []
tags:
- name: Account
  description: Account balance and usage
paths:
  /balance:
    get:
      tags:
      - Account
      summary: Check API credit balance
      responses:
        '200':
          description: Current balance
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance:
                    type: number
                    example: 4250.5
                  currency:
                    type: string
                    example: USD
        '403':
          $ref: '#/components/responses/Forbidden'
      operationId: getBalance
      x-operation-id-source: derived
  /history:
    get:
      tags:
      - Account
      summary: Query API usage history
      responses:
        '200':
          description: Usage history
          content:
            application/json:
              schema:
                type: object
                properties:
                  history:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          format: date
                        endpoint:
                          type: string
                        requests:
                          type: integer
                        credits:
                          type: number
        '403':
          $ref: '#/components/responses/Forbidden'
      operationId: getHistory
      x-operation-id-source: derived
components:
  responses:
    Forbidden:
      description: Forbidden — missing or invalid API key
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: 'API key passed as Basic auth header: `Authorization: Basic <API_KEY>`'
    ApiKeyQuery:
      type: apiKey
      in: query
      name: apiKey
      description: API key passed as query parameter (used for burst endpoints)
externalDocs:
  description: Full documentation
  url: https://docs.beemaps.com
